.swiper {
    width: 260px;
    height: 380px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    border: 3px solid #ff0e;
}

.swiper-slide:nth-child(1) {
    background: url("../../assets/images/Sajek.png");
    background-position: center;
    background-size: cover;
}

.swiper-slide:nth-child(2) {
    background: url("../../assets/images/Sreemongol.png");
    background-position: center;
    background-size: cover;
}

.swiper-slide:nth-child(3) {
    background: url("../../assets/images/sundorbon.png");
    background-position: center;
    background-size: cover;
}